<h2 class='text-center'> Education Background </h2>
      <br>
      <ul>
        <li> <b> B.E-MBA Degree from Thapar University , Patiala</b> | 2023 Graduated. 
          <br>
          MBA Specialization in Finance and Business Analytics : 8.40 CGPA
        <br>
        B.E-Computer Engineering : 7.02 CGPA</li>
        <li> <b>Lotus Valley International School , Noida </b> | 2018 Graduated. Primary and Senior Secondary education <br>
          10th Class -98.6% 
          <br>
          Science Stream ( PCM ) - 93.5% </li>
      </ul>