<!DOCTYPE html>
<html>
  
  <head>
    <title> Dhyan Jain Portfolio webpage</title>
  </head>
  
  
  <body>
    <h1> Dhyan Jain</h1>
  
    <p>I am an honest, hardworking professional who strives to upskill himself at every opportunity presented in life. I take an analytical approach to any problem I face. I feel a need to push my skills to the limit to be able to stand on my two feet in this highly competitive environment. </p>

    <br>
    <br>
    
    <h1> Work Experience</h1>
    <br>
    <ol>
      <li>
        <h2> Chargeback Analyst </h2>
        <h3> American Express</h3>
        <p> Worked on clients including but not limited to GOAT, 1800-flowers, Evine, Express, PayPal, Rayanair, BedBath&Beyond, Starbucks, and United Airlines.    
Performed chargeback analysis and resolved the cases at range of 180 orders per day. 
Conducted extensive research to validate purchases across platforms
Import and Export data with 100% accuracy from client platforms to Accertify & Vice-versa
</p>
        <br>
        
      </li>
      <li>
        <h2> Project Management Intern </h2>
        <h3> Kantar</h3>
        <p>Worked Alongside Executive Managing Director and Analysis team to develop a Marketing playbook for Google India and enabled international proposal between Coinbase Kuber and Fidelity International
Worked in the Insight team for Mamaearth and Successfully integrated them under Millward-Brown
Reported on Key campaign metrics and findings to the Management, Marketing, and Sales Teams
Created new business clients like Lenskart, Swiggy, and 16 other Unicorn Companies
Worked alongside Assistant Vice President of Marketing, Kantar Insights on project Kantar BrandZ, the world's largest equity platform, and Kantar's Biggest marketing investment
</p>
        <br>
        
      </li>
      <li>
        <h2> Finance Intern </h2>
        <h3> Smartknower</h3>
        <p>led an IPO analysis of 5 upcoming companies in a 15-member team.Created Investment portfolios of an average of Rs 25,00,000\- for clients partnered with the company 
Selected thrice as the intern of the week.Entrusted as Team leader for a Finance team of 30 members
 </p>
        <br>
        
      </li>
      <li>
        <h2> Business Analyst Intern </h2>
        <h3> Smartknower</h3>
        <p>Analyzed Datasets related to companies such as IBM 
Created a Resume screening and analyzer website in a team of 30 people selected from a pool of 382 applicants.Analyzed Datasets consisting of over 400,000 entries which are managed by the company.Used Python programming libraries like Matplotlib , Pandas, sklearn etc. and data frame terminologies
</p>
        <br>
        
      </li>
      <li>
        <h2> Data analyst Intern </h2>
        <h3> Verzeo</h3>
        <p>Analyzed Datasets related to companies such as IBM. Created a Resume screening and analyzer website in a team of 30 people selected from a pool of 382 applicants
</p>
      </li>
    </ol>

    <br>

    <h1> Skills Developed</h1>
    <button> Python Programming</button>
    <button> JAVA programming Language</button>
    <button> Solidity Programming</button>
    <button> Blockchain Development</button>
    <button> SPSS</button>
    <button> Power BI</button>
    <button> Tableau</button>
    <button> Data Analysis</button>
    <button> Unity Game engine</button>
    <button> Blender Animation studio</button>
    <button> Stock market analysis</button>
    <button> FOREX-analysis</button>

    <br>
    

    <h1> Contact Us </h1>
    
    <table>
      <tr>
        <td> <h3>Email Id:</h3> </td>
        <td> <p> dhyanjain2701@gmail.com</p></td>
      </tr>
      <tr>
        <td><h3>LinkedIn Id:</h3></td>
        <td><p>https://www.linkedin.com/in/dhyanjain2701/</p></td>
      </tr>
      <tr>
        <td> <h3>Contact Number :</h3></td>
        <td><p>+91-9873875477</p></td>
      </tr>
    </table>
     
     
   
  </body>
</html>