<h2 class="text-center"> Skills Developed</h2>
      
    <br>
    <div class="center-block">
      <button type="button" class="btn btn-outline-info"> Python Programming</button>
      <button type="button" class="btn btn-outline-info"> JAVA programming Language</button>
      <button type="button" class="btn btn-outline-info"> Solidity Programming</button>
      <button type="button" class="btn btn-outline-info"> Blockchain Development</button>
      <button type="button" class="btn btn-outline-info"> SPSS</button>
      <button type="button" class="btn btn-outline-info"> Power BI</button>
      <button type="button" class="btn btn-outline-info"> Tableau</button>
      <button type="button" class="btn btn-outline-info"> Data Analysis</button>
      <button type="button" class="btn btn-outline-info"> Unity Game engine</button>
      <button type="button" class="btn btn-outline-info"> Blender Animation studio</button>
      <button type="button" class="btn btn-outline-info"> Stock market analysis</button>
      <button type="button" class="btn btn-outline-info"> FOREX-analysis</button>
      <button type="button" class="btn btn-outline-info"> Financial Accounting </button>
      <button type="button" class="btn btn-outline-info"> IPO and Share Market Analysis</button>
      <button type="button" class="btn btn-outline-info"> Company Financial Statement making and its analysis </button>
      <button type="button" class="btn btn-outline-info"> Portfolio management </button>
      <button type="button" class="btn btn-outline-info"> Corporate Valuation and Financial Management </button>
    </div>